body{
    background-image: url(https://data.whicdn.com/images/98482568/superthumb.jpg?t=1390925985)
}
body{
    background-size: 12in
}
h1{
    color: white
}
intro-text{
    color: white
}
p{
    color: white 
}
h2,h3,h4,h5{
    color:white 

}
ul{
    color:white 
}
